﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>sambarryltd</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">

 
</head>

<body id="body">


    <!--==========================
      Header
    ============================-->
    <header id="header" style="background-color:#808080; font-family: 'Times New Roman'; font-size: 30px; ">
        <div class="container">

          <div id="logo" class="pull-left">
              <img style="height:100px; width: 150px;" src="img/logo1.png" alt="" title="" />
           </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#body">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>




    <section id="intro" style="height: 550px; font-family: 'Times New Roman'">

        <div class="intro-content" >
            <h2>SAM BARRY COMPANY LIMITED</h2>
           <div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
        </div>

    </section><!-- #intro -->

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about" class="wow fadeInUp" style="font-family: 'Times New Roman'; background-color:grey;  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                        <img src="img/pic.jpg" alt="">
                    </div>

                    <div class="col-lg-6 content">
                        <div class="section-header">
                            <h2 style="color:black; ">About us</h2>
                        </div>


                            <ul style="color: white; font-size: 20px">
                                <li><i class="ion-android-checkmark-circle"></i> Who we are: We are Business Development Advisors.</li>
                                <li><i class="ion-android-checkmark-circle"></i> What we do: We work with any entity to enable them access funding.</li>
                                <li><i class="ion-android-checkmark-circle"></i> Why we exist: We appreciate that ideas and concepts can only thrive to fulfilment with available, accessible, and affordable financing.</li>
                            </ul>

                        </div>
                    </div>

            </div>
        </section><!-- #about -->
        <!--==========================
      Services Section
    ============================-->
        <section id="services" style="font-family: 'Times New Roman'; background-color:grey; ">
            <div class="container">
                <div class="section-header">
                    <h2 style="color:black; ">Services</h2>
                    </div>


                    <div class="row" style="font-size: 20px; font-family:'Times New Roman'">

                        <div class="col-lg-6">
                            <div class="box wow fadeInLeft">
                                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                                <h4 class="title">Feasibility Study</h4>
                                <p class="description">Concepts, market and production feasibility to support investment decision.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box wow fadeInRight">
                                <div class="icon"><i class="fa fa-picture-o"></i></div>
                                <h4 class="title">Business Plans</h4>
                                <p class="description">Sector Specific and funder focused.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                                <h4 class="title">Funding Proposals</h4>
                                <p class="description">Grants, equity investments, and debt financing requirements.</p>
                            </div>
                        </div>



                    </div>

                </div>
        </section><!-- #services -->
        <!--==========================
      Our Portfolio Section
    ============================-->
        <section id="portfolio" class="wow fadeInUp" style="font-family: 'Times New Roman'; background-color:grey;">
            <div class="container">
                <div class="section-header">
                    <h2 style="color:black; ">Portfolio</h2>
                </div>


                </div>

            <div class="container-fluid">
                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                            <img src="img/portfolio/1.jpg" alt="">
                            <div class="portfolio-overlay">

                                <div class="portfolio-info"><a><h2 style="cursor:pointer;" data-toggle="modal" data-target="#portone" class="wow fadeInUp">Over 10 million US Dollars</h2></a></div>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                            <img src="img/portfolio/2.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><a><h2 style="cursor:pointer;" data-toggle="modal" data-target="#porttwo" class="wow fadeInUp">Between 5 to 10 million US Dollars</h2></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                            <img src="img/portfolio/3.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><a><h2 style="cursor:pointer;" data-toggle="modal" data-target="#portthree" class="wow fadeInUp">Between 1 to 5 million US Dollars</h2></a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="portfolio-item wow fadeInUp">
                            <img src="img/portfolio/4.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info"><a><h2 style="cursor:pointer;" data-toggle="modal" data-target="#portfour" class="wow fadeInUp">Less than 1 million US Dollars</h2></a></div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </section><!-- #portfolio -->
        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" class="wow fadeInUp" style="font-family: 'Times New Roman'; background-color:grey; ">
            <div class="container">
                <div class="section-header">
                    <h2 style="color:black">Contact Us</h2>
                    <p style="font-size: 20px; color:white;  font-family:'Times New Roman'">For any inquiries please be free to contact us using the form below. </p>
                </div>


            </div>


            <div class="container">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit" >Send Message</button></div>
                    </form>
                </div>

            </div>
        </section><!-- #contact -->

        <div class="modal fade" id="portone" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: gray;">
                        <h5 style="text-align:center; color:white;  font-size: 20px; font-weight:500;" class="modal-title">Over 10 million US dollars</h5>

                    </div>
                    <div style=" font-size:18px;" class="modal-body">
                        <form id="services-form" method="post" enctype="multipart/form-data" action="Services/AddService">

                            <br />
                            <div class="form-group">
                                <ul>
                                    <li> Thirty (30) million US dollars international funding for leading conglomerate in Uganda to assess funding across Agriculture, Manufacturing, Real Estate, Transport and Logistics.</li>
                                    <li> Ten (10) million US dollars international funding for real estate development for commercial property (mixed use).</li>
                                    <li> Ten (10) million US dollars international funding for Publishing machinery for commercial printing and publication.</li>
                                </ul>

                            </div>
                            <br />
                            <hr />

                            <button type="button" style="float: right;" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>


                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="porttwo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: gray;">
                        <h5 style="text-align:center; color:white;  font-size: 20px; font-weight:500;" class="modal-title">Between 5 to 10 million US dollars</h5>

                    </div>
                    <div style=" font-size:18px;" class="modal-body">
                        <form id="services-form" method="post" enctype="multipart/form-data" action="Services/AddService">

                            <br />
                            <div class="form-group">
                                <ul>
                                    <li> 7.5 million US dollars international funding for a hospitality company to develop a 5 star hotel in Kampala and tourist lodge in Fort Portal.</li>
                                    <li> Six (6) million US dollars local funding for group of companies for Transport and logistics, petroleum products distribution and commercial beef ranching.</li>

                                </ul>

                            </div>
                            <br />
                            <hr />

                            <button type="button" style="float: right;" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>


                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="portthree" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: gray;">
                        <h5 style="text-align:center; color:white;  font-size: 20px; font-weight:500;" class="modal-title">Between 1 to 5 million US dollars</h5>

                    </div>
                    <div style=" font-size:18px;" class="modal-body">
                        <form id="services-form" method="post" enctype="multipart/form-data" action="Services/AddService">

                            <br />
                            <div class="form-group">
                                <ul>
                                    <li> Three (3) million US dollars local funding for real estate development of a commercial property (Arcade) in Kampala.</li>
                                    <li> 1.8 million US dollars local funding for steel processing plant in Uganda.</li>

                                </ul>

                            </div>
                            <br />
                            <hr />

                            <button type="button" style="float: right;" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>


                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="portfour" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: gray;">
                        <h5 style="text-align:center; color:white;  font-size: 20px; font-weight:500;" class="modal-title">Less than 1 million US dollars</h5>

                    </div>
                    <div style=" font-size:18px;" class="modal-body">
                        <form id="services-form" method="post" enctype="multipart/form-data" action="Services/AddService">

                            <br />
                            <div class="form-group">
                                <ul>
                                    <li> One million US dollars local funding for Road construction company to acquire plant and equipment to undertake works contracts.</li>
                                    <li> Six houndred thousand (600,000) US dollars local funding for set up of pig slaughter house and meat processing abattoir.</li>
                                    <li> Two hundred fifty thousand (250,000) US dollars grant funding for wet processing project of Arabica coffee.</li>
                                </ul>

                            </div>
                            <br />
                            <hr />

                            <button type="button" style="float: right;" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>


                        </form>

                    </div>

                </div>
            </div>
        </div>


    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; All Rights Reserved
            </div>
            
            </div>
        
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="lib/sticky/sticky.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>
</html>
